<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="preload" href="/et-book/et-book-roman-old-style-figures/etbookot-roman-webfont.woff2" crossorigin="anonymous" as="font" type="font/woff2">
    <link rel="preload" href="/et-book/et-book-bold-line-figures/etbookot-bold-webfont.woff2" crossorigin="anonymous" as="font" type="font/woff2">
    <link rel="preload" href="/et-book/et-book-display-italic-old-style-figures/etbookot-italic-webfont.woff2" crossorigin="anonymous" as="font" type="font/woff2">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#fffff8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="content"></div>
    <script>
      {{~> setup}}
    </script>
    <script src="/js/{{ js }}.js"></script>
  </body>
</html>
