/*! modern-css-reset.css https://piccalil.li/blog/a-modern-css-reset */
*,*::after,*::before{box-sizing:border-box}blockquote,body,dd,dl,figure,h1,h2,h3,h4,p{margin:0}ul[role='list'],ol[role='list']{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}button,input,select,textarea{font:inherit}@media (prefers-reduced-motion: reduce){html:focus-within{scroll-behavior:auto}*,*::after,*::before{animation-duration:0.01ms !important;animation-iteration-count:1 !important;transition-duration:0.01ms !important;scroll-behavior:auto !important}}

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-roman-old-style-figures/etbookot-roman-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-display-italic-old-style-figures/etbookot-italic-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-bold-line-figures/etbookot-bold-webfont.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

ul, ol { margin: 0; padding-left: 1rem; }
li { margin-left: 1rem; }
body {
    padding: 1rem;
    width: 100vw;
    font-family: et-book, Georgia, serif;
    font-size: 120%;
    background-color: #fffff8;
    color: #111;
}

a:link { color: inherit; }
a:visited { color: inherit; }

#content { width: 100%; }

/**********
 * Navbar *
 **********/
nav ul {
  padding-left: 0;
  list-style-type: none;
}

nav li {
  display: inline;
  margin-left: 0;
}


/**************
 * Separators *
 **************/
nav li ~ li::before {
    content: ' | ';
}
.commasep ~ .commasep::before {
    content: ', ';
}

/**********
 * Update *
 **********/
#update input.have {
    width: 2em;
}

#update input.hidden {
    display: none;
}

/*****************
 * General table *
 *****************/
table {
    width: 100%;
    border: 2px solid grey;
    border-spacing: 0;
    border-collapse: collapse;
}

/* Nice vertical lines */
td {
    padding: 0.3em 0.6em 0.3em 0.3em;
    border-left: 1px solid black;
}
td:nth-child(1) {
  border-left: 0;
}

th {
    font-weight: bold;
    background: rgba(0,0,0,0.8);
    color: white;
    text-align: left;
    padding: 0.3em 0.6em 0.3em 0.3em;
}


/* Alternating Row Colors */
tbody > :nth-child(2n) {
    background: rgba(0,0,0,0.2);
}

/*********************
 * Add/Edit Cocktail *
 *********************/
h1 input {
  margin-top: 0.25em;
  padding-left: 0.25em;
}

#recipe {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

#recipe li {
  margin-left: 0;
  height: 2.5em;
}

#recipe fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#recipe fieldset > * {
  height: 1.8em;
  margin-right: 0.5em;
}
#recipe fieldset > *:last-child { margin-right: 0; }

#recipe select {
  width: 5.5em;
  padding-left: 0.25em;
}

#recipe input[name="measure"] {
  width: 4em;
  padding-left: 0.25em;
}

#recipe button[aria-label="delete"] {
  margin-left: auto;
}

#recipe #add_ingredient {
  width: 100%;
}

#instructions {
  padding: 0.25em;
  margin-bottom: 0.5em;
}


/***
 * Two-column forms, used for login/signup
 ****/
form {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
form > label {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form > label > input {
  margin-left: 1rem;
}
form > label:not(:last-child) {
  margin-bottom: 1rem;
}
